<div class="col-md-12 white-box">
  <%= form_for @user, url: settings_password_path, html: {multipart: true, method: :put} do |f| %>

    <div class="row row-form">
      <div class="col-md-6 text-center">
        <h3>Change your password</h3>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-3">
        <%= f.label :current_password, class: 'label-form pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.password_field :current_password, class: 'form-control' %>
        <%= specific_error_for :current_password, resource: @user %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-3">
        <%= f.label :password, class: 'label-form pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.password_field :password, class: 'form-control' %>
        <%= specific_error_for :password, resource: @user %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-3">
        <%= f.label :password_confirmation, class: 'label-form pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= specific_error_for :password_confirmation, resource: @user %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <%= f.submit 'Alterar Senha', class: 'btn btn-danger pull-right' %>
      </div>
    </div>
  <% end %>
</div>
