<div class="col-md-12 white-box">
  <%= form_for @user, url: settings_profile_path, html: {multipart: true, method: :put} do |f| %>
    <%= hidden_field_tag :city_data, (@user.city.present? ? "#{@user.city.id}|#{@user.city.name}" : "|") %>

    <div class="row row-form">
      <div class="col-md-2">
        <%= image_tag "edit-user", class: "pull-right" %>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h2>Profile</h2>
        </div>
        <div class="row">
          <p class="margim-b">
            Crie um profile interessante e completo para que seus eleitores ou candidatos o vejam.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <%= image_tag "change-password", class: "pull-right" %>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h2>Mudar Senha</h2>
        </div>
        <div class="row">
          <p class="margim-b">
            Mude a senha quando se sentir inconfortável com a segurança.
          </p>
        </div>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-2">
        <%= f.label :email, class: 'label-form pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :email, class: 'form-control' %>
        <%= specific_error_for :email, resource: @user %>
      </div>
      <div class="col-md-6 text-center">
        <%= link_to "Trocar senha", settings_password_path, class: "btn btn-warning" %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-2">
        <%= f.label :name, class: 'label-form pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :name, class: 'form-control' %>
        <%= specific_error_for :name, resource: @user %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-2">
        <%= f.label :username, class: 'label-form pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :username, class: 'form-control' %>
        <%= specific_error_for :username, resource: @user %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-2">
        <%= f.label :city_id, class: "label-form pull-right" %>
      </div>
      <div class="col-md-4">
        <%= f.select :city_id, [], {prompt: "Selecione uma cidade"}, {class: "form-control"} %>
        <%= specific_error_for :city_id, resource: @user %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-2">
        <%= f.label :biografia, class: 'pull-right' %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :biografia, class: 'form-control', rows: 6 %>
      </div>
    </div>

    <div class="row row-form">
      <div class="col-md-2">
        <% if @user.picture.present? %>
          <%= image_tag @user.picture.url(:thumb), class: 'img-rounded pull-right' %>
        <% else %>
          <%= image_tag @user.picture.url(:thumb), class: 'img-rounded-tiny pull-right' %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= f.file_field :picture %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.submit 'Alterar Perfil', class: 'btn btn-primary pull-right' %>
      </div>
    </div>
  <% end %>
</div>
