<div class="form-signin-register">

  <div class="col-md-12 white-box form-login row-form">
    <h2 class="login-title text-center">Register a new user</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= hidden_field_tag :city_data, (@user.city.present? ? "#{@user.city.id}|#{@user.city.name}" : "|") %>

      <div class="row row-form">
        <div class="col-md-2">
          <%= f.label :email, class: 'label-form pull-right' %>
        </div>
        <div class="col-md-10">
          <%= f.email_field :email, class: 'form-control', placeholder: "E-mail" %>
          <%= specific_error_for :email, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
          <%= f.label :username, class: 'label-form pull-right' %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :username, class: 'form-control', placeholder: "Username" %>
          <%= specific_error_for :username, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
          <%= f.label :name, class: 'label-form pull-right' %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
          <%= specific_error_for :name, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
          <%= f.label :password, class: 'label-form pull-right' %>
        </div>
        <div class="col-md-10">
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control',
                               :placeholder => "Digite uma senha (Mínimo 8 caracteres)" %>
          <%= specific_error_for :password, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
          <%= f.label "Confirmation", class: 'label-form pull-right' %>
        </div>
        <div class="col-md-10">
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control',
                               :placeholder => "Reensira a senha escolhida" %>
          <%= specific_error_for :password_confirmation, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
          <%= f.label :city_id, class: "label-form pull-right" %>
        </div>
        <div class="col-md-10">
          <%= f.select :city_id, [], {prompt: "Selecione uma cidade"}, {class: "form-control"} %>
          <%= specific_error_for :city_id, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <div class="checkbox checkbox-primary">
            <%= f.check_box :candidato, class: 'styled label-form pull-right' %>
            <label for="candidato">
              Quero criar meu perfil como um Candidato.
            </label>
          </div>
        </div>
      </div>

      <div class="row row-form select-partido">
        <div class="col-md-2">
          <%= f.label :partido_id, class: "label-form pull-right" %>
        </div>
        <div class="col-md-10">
          <%= f.select :partido_id, [['PSTU', 1]], {prompt: "Selecione um partido politico"}, {class: "form-control"} %>
          <%= specific_error_for :partido_id, resource: resource %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <%= f.submit "Registrar", class: "btn btn-success btn-success-login pull-right" %>
        </div>
      </div>

    <% end %>

  </div>

  <div class="row">
    <div class="col-md-12 text-center texto-branco">
      <span>Back to login page.</span>
      <b>
        <% if controller_name != 'sessions' %>
          <%= link_to "Log in", new_session_path(resource_name),
                class: "texto-branco" %>
        <% end %>
      </b>
    </div>
  </div>
</div>
