<% @comments.each do |comment| %>
  <div class="row">
    <div class="col-md-12 comment-box">
      <div class="col-md-2">
        <%= image_tag comment.user.picture.url(:medium), class: 'comment-profile-picture' %>
      </div>
      <div class="col-md-10">
        <div class="row">
          <em class="demanda-autor">
            <%= comment.user.name %> em <%= comment.created_at.to_formatted_s(:long) %>
          </em>
        </div>
        <div class="row">
          <%= comment.content %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <%= form_for [@demanda, Comment.new], remote: true do |f| %>
          <%= f.text_area :content, class: 'form-control', placeholder: "Insira um comentário" %>

          <%= f.submit "Comentar", class: 'btn btn-success btn-form pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
