<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row row-form">
    <div class="col-md-2">
      <%= f.label :password, "New password", class: 'label-form pull-right' %>
    </div>
    <div class="col-md-4">
      <%= f.password_field :password, class: 'form-control' %>
      <%= specific_error_for :password, resource: resource %>
    </div>
  </div>

  <div class="row row-form">
    <div class="col-md-2">
      <%= f.label :password_confirmation, "Confirm new password", class: 'label-form pull-right' %>
    </div>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= specific_error_for :password_confirmation, resource: resource, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.submit 'Mudar senha', class: 'btn btn-primary pull-right' %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
