<div class="form-signin">

  <div class="col-md-12 white-box form-login row-form">
    <h2 class="login-title text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :post }) do |f| %>

      <div class="row row-form">
        <div class="col-md-12">
          <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
          <%= specific_error_for :email, resource: resource %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.submit "Send instructions", class: 'btn btn-success btn-success-login pull-right' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12 text-center texto-branco">
      <span>Do you remeber your password?</span>
      <b>
        <% if controller_name != 'sessions' %>
          <%= link_to "Log in", new_session_path(resource_name),
                class: "texto-branco" %><br />
        <% end %>
      </b>
    </div>
  </div>
</div>
