<%= form_for @demanda, remote: true do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div class="row row-form">
    <%= f.text_field :titulo, class: 'form-control', placeholder: 'Título' %>
    <%= specific_error_for :titulo, resource: @demanda %>
  </div>
  <div class="row row-form">
    <%= f.text_area :descricao, class: 'form-control', rows: 10,
      placeholder: 'Descreva o problema de sua região' %>
    <%= specific_error_for :descricao, resource: @demanda %>
  </div>
  <div class="row row-form">
    <%= f.collection_select :demanda_categoria_id, DemandaCategoria.all, :id, :name,
        {prompt: "Selecione uma categoria"}, class: "form-control" %>
    <%= specific_error_for :demanda_categoria_id, resource: @demanda %>
    <%= specific_error_for :endereco, resource: @demanda %>
  </div>
  <div class="row">
    <%= f.submit 'Criar demanda', class: 'pull-right btn btn-success' %>
  </div>
<% end %>
