<div class="row">
  <div class="col-md-8">
    <div class="col-md-12 white-box">
      <div class="row">
        <div class="col-md-8">
          <h2 class="profile-title">Demandas</h2>
          <p class="margim-b">
            Últimas demandas criadas pelos eleitores.
          </p>
        </div>
        <div class="col-md-4">
          <%= link_to "Criar nova demanda", new_demanda_path, class: 'pull-right btn btn-success',
            data: {no_turbolink: true} %>
        </div>
      </div>
      <% @demandas.each do |demanda| %>
        <div class="row row-form">
          <div class="col-md-12">
            <div class="col-md-2 text-center">
              <div class="row">
                <%= image_tag demanda.user.picture.url(:thumb), class: 'img-rounded-tiny' %>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <h3 class="profile-title">
                  <%= image_tag demanda.demanda_categoria.try(:image_name), class: 'icone-categoria-demanda' %>
                  <%= link_to demanda.titulo, demanda_path(demanda), class: "demanda-title", data: {no_turbolink: true} %>
                </h3>
              </div>
              <div class="row">
                <em class="demanda-autor">Criada por <%= demanda.user.name %> em <%= demanda.created_at.to_formatted_s(:long) %></em>
              </div>
              <div class="row text-justify text">
                <% if demanda.descricao.size >= 400 %>
                  <%= demanda.descricao[0..400] + "..." %>
                <% else %>
                  <%= demanda.descricao %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 white-box">
    <div class="col-md-12">
    </div>
  </div>
</div>
