<div class="container">
  <div class="row">
    <div class="col-md-12 white-box">
      <div class="row">
        <div class="col-md-1">
          <%= image_tag 'strike' %>
        </div>
        <div class="col-md-11">
          <h2 class="profile-title">Criar uma nova Demanda</h2>
          <p class="margim-b">
            Selecione a cidade e crie uma nova demanda para sua região.</br>
            Aguarde algum candidato assumir a responsabilidade.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="mapa" style="height:400px;">
          </div>
          <input id="pac-input" class="controls" type="text">
        </div>
        <div class="col-md-4 form-container">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
