<%= hidden_field_tag :latitude, @demanda.latitude %>
<%= hidden_field_tag :longitude, @demanda.longitude %>

<div class="row">
  <div class="col-md-12 white-box">
    <!-- Mapa e título -->
    <div class="row row-form">
      <div class="col-md-1">
        <%= image_tag @demanda.user.picture.url(:medium), class: "img-rounded-tiny" %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <h3 class="profile-title">
            <%= image_tag @demanda.demanda_categoria.try(:image_name), class: 'icone-categoria-demanda' %>
            <span class="demanda-title"><%= @demanda.titulo %></span>
          </h3>
        </div>
        <div class="row">
          <em class="demanda-autor">Criada por <%= @demanda.user.name %> em <%= @demanda.created_at.to_formatted_s(:long) %></em>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h3 class="profile-title">
            <%= image_tag "map-paper", class: "icone-categoria-demanda" %>
            <span class="demanda-title">Localização</span>
          </h3>
        </div>
        <div class="row">
          <em class="demanda-autor">
            Veja no mapa onde está ocorrendo o problema.
          </em>
        </div>
      </div>
    </div>
    <!-- Descrição da demanda e mapa -->
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="row row-form text-justify text">
          <%= @demanda.descricao %>
        </div>
        <div class="row text row-comentarios">
          <%= render "comments/comments", locals: @comments %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="mapa-demanda" style="height:400px;">
        </div>
      </div>
    </div>
  </div>
</div>
