<div class="form-signin">

  <div class="col-md-12 white-box form-login row-form">
    <h2 class="login-title text-center">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row row-form">
        <div class="col-md-12">
          <%= f.email_field :email, class: "form-control",
            placeholder: "Email", autofocus: true %>
        </div>
      </div>

      <div class="row row-form">
        <div class="col-md-12">
          <%= f.password_field :password, class: "form-control",
            placeholder: "Password", autocomplete: "off" %>
        </div>
      </div>

      <div class="action row-form">
        <%= f.submit "Log in", class: "btn btn-success btn-success-login" %>
      </div>

      <div class="row row-form">
        <div class="col-md-12 text-center">
          <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end -%>
        </div>
      </div>

    <% end %>

  </div>

  <div class="row">
    <div class="col-md-12 text-center texto-branco">
      <span>Don't have an account?</span>
      <b>
        <% if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), data: {no_turbolink: true},
            class: "texto-branco" %>
        <% end %>
      </b>
    </div>
  </div>
</div>
