body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #e9e9e9 !important;
}

body.auth {
  background-color: #298eea !important;
}

.form-control {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 3px !important;
  border: 1px solid #dfdfdf !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  height: inherit !important;
}

input[type="text"]:focus {
  border-color: #298eea !important;
}

input[type="email"]:focus {
  border-color: #298eea !important;
}

textarea:focus {
  border-color: #298eea !important;
}

select:focus {
  border-color: #298eea !important;
}

input[type="email"]:focus {
  border-color: #298eea !important;
}

input[type="password"]:focus {
  border-color: #298eea !important;
}

.circular {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.row-form {
  margin-bottom: 20px;
}

.label-form {
  line-height: 50px;
}

.profile-title {
  margin-top: 0px;
}

h3.profile-title {
  margin-bottom: 0px !important;
}

.field_with_errors > input {
  border: 1px solid red !important;
}

.field_with_errors > select {
  border: 1px solid red !important;
}

.field_with_errors > textarea {
  border: 1px solid red !important;
}

div.specific-error {
  padding: 5px 0px 0px 13px !important;
}

span.error {
  color: red;
}

.nav-candidato {
  width: 220px;
}

.profile-picture {
  width: 220px;
}

.select2-selection {
  font-family: 'Montserrat', sans-serif !important;
  height: auto !important;
}

.select2-container--bootstrap .select2-selection--single {
  padding: 14px 24px 14px 12px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #dfdfdf !important;
  border-radius: 3px !important;
}

.field_with_errors span.select2-selection {
  border-radius: 3px !important;
  border: 1px solid red !important;
}

.nav > li > a {
  padding: 8px 20px !important;
}

.main {
  margin-top: 90px;
}

.navbar {
  min-height: 70px !important;
}

.navbar-nav > li {
  border-radius: 70px !important;
}

li > a > .fa {
  padding-right: 10px;
}

ul.navbar-nav > li > a {
  color: white !important;
  font-weight: bold !important;
}

ul.navbar-nav > li > a:hover {
  color: white !important;
}

ul.navbar-nav > li:hover {
  background-color: #1493D1;
}

.navbar-default {
  background-color: #1caff6 !important;
  border-color: #1caff6 !important;
}

.nav-pills > li > a {
  border-radius: 77px !important;
}

.nav-pills > li > a:hover {
  background-color: #1caff6 !important;
  color: white;
}

.container-main-menu {
  padding-top: 16px;
}

.btn {
  border-radius: 77px !important;
  min-width: 150px !important;
}

.white-box {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,0.04);
}

.text {
  line-height: 24px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mapa {
  border-radius: 5px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

p.margim-b {
  padding-bottom: 15px;
  color: #A79E9E;
}

li.active a {
  border-radius: 77px;
  background-color: #1493D1 !important;
}

.nav > li {
  margin-right: 10px !important;
}

.img-rounded-tiny {
  border-radius: 50px;
  height: 70px;
  width: 70px;
}

.demanda-index:hover {
  background-color: gray;
}

.demanda-location {
  padding-top: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0 !important;
}

.dropdown .btn-default {
  color: white !important;
  background-color: #1CAFF6 !important;
  border: 0 !important;
}

.dropdown .btn {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown .btn-default:hover {
  background-color: #1493D1 !important;
}

.icon-menu {
  height: 35px;
}

ul > li > a.paddingless {
  display: inline;
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
}

.form-signin-register {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-login {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn-success-login {
  border-radius: 4px !important;
  padding: 13px !important;
  width: 100% !important;
}

.texto-branco {
  color: white !important;
}

h2.login-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.title-no-margin {
  margin-top: 0px;
  margin-bottom: 3px;
}

.icone-categoria-demanda {
  height: 38px;
  width: 38px;
}

.demanda-autor {
  color: #A2A2A2;
}

.comment-box {
  margin-bottom: 20px;

  font-size: 13px !important;
}

.comment-profile-picture {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.btn-form {
  margin-top: 10px;
}
