<div class="col-md-3">
  <div class="col-md-12 white-box">
    <div class="row row-form">
      <%= image_tag @user.picture.url(:medium), class: 'img-rounded center-block profile-picture' %>
    </div>
    <div class="row">
      <ul class="nav nav-pills nav-stacked nav-candidato center-block">
        <li>
          <%= link_to biografia_candidato_path do %>
            <%= content_tag :i, nil, class: 'fa fa-male' %>
            Biografia
          <% end %>
        </li>
        <li>
          <%= link_to propostas_candidato_path do %>
            <%= content_tag :i, nil, class: 'fa fa-lightbulb-o' %>
            Propostas
          <% end %>
        </li>
        <li role="presentation">
          <a href="#">
            <i class="fa fa-camera"></i>
            Fotos
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
