<div class="container">
  <div class="row">
    <%= render 'candidatos/menu' %>

    <div class="col-md-9">
      <div class="col-md-12 white-box">
        <div class="row">
          <div class="col-md-12">
            <h2 class="profile-title">
              <%= @user.name %>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-justify text">
            <%= raw @user.biografia.gsub(/\n/, '<br />') if @user.biografia.present? %>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
