<div class="row">
  <div class="col-md-8">
    <div class="col-md-12 white-box">
      <div class="row">
        <div class="col-md-8">
          <h2 class="profile-title">Candidatos</h2>
          <p class="margim-b">
            Conheça mais sobre os candidatos
          </p>
        </div>
      </div>
      <% @candidatos.each do |candidato| %>
        <div class="row row-form">
          <div class="col-md-12">
            <div class="col-md-2 text-center">
              <div class="row">
                <%= image_tag candidato.picture.url(:thumb), class: 'img-rounded-tiny' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <%= link_to candidato.name, biografia_candidato_path(candidato) %>
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 white-box">
    <div class="col-md-12">
    </div>
  </div>
</div>
