<!DOCTYPE html>
<html>
<head>
  <title>Ficha Nova</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDXFnxMatHeFxTMWYQwZa-Z1T1V1wreaik&libraries=places' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="row">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container container-main-menu">
      <ul class="nav navbar-nav">
        <li class="<%= active_menu :home %>">
          <%= link_to "Home", root_path %>
        </li>
        <li class="<%= active_menu :candidatos %>">
          <%= link_to "Candidatos", candidatos_path %>
        </li>
        <li class="<%= active_menu :demandas %>">
          <%= link_to "Demandas", demandas_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to settings_profile_path, class: "paddingless", data: {no_turbolink: true} do %>
            <%= image_tag "edit-user", class: 'icon-menu' %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "paddingless" do %>
            <%= image_tag "shutdown", class: 'icon-menu' %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container main">
  <%= yield %>
</div>

</body>
</html>
