<!DOCTYPE html>
<html>
<head>
  <title>Ficha Nova</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDXFnxMatHeFxTMWYQwZa-Z1T1V1wreaik&libraries=places' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="auth">

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
